#Build Files & Folders
Build_Dev/
Build_Dev/**

#User json files
files_history.json
guido_settings.json
selected_dir.txt
explorer_dir.txt

#Test files & folders
tempCodeRunnerFile.py
mkdir_gen.py
app.log
Test/
test.py

#git
.git/
.gitignore